body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table,
tr,
td{
  border: 1px midnightblue solid;
  border-collapse: collapse;
  padding: .5rem;
}
td{
  width: 5rem;
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
input{
  width: 5rem;
}
h1,
h2,
h3{
  text-align: center;
}
.characCard{
  width: 40%;
  border: 1px dashed midnightblue;
  padding: .5rem;
  background-color: lightsteelblue;
  border-radius : 2rem;
  margin: 1rem auto;
  text-align: center;
}
.characCard img{
  width: 100%;
}
.characCard button{
  margin: .5rem;
}
.pokeImg img{
  width: 100%;
}
.blocType{
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.blocType img{
  width: 3rem;
}
.pokeCard{
  width: 40%;
  border: 1px solid crimson;
  border-radius: 2rem;
  margin: 1rem auto;
  background-color: darkturquoise;
  text-align: center;
}
.pokeLike{
  text-align: center;
}
.firstBtn{
  border : 3px ridge midnightblue;
  border-radius: .5rem;
  background-color: hotpink;
  width: 7rem;
  height: 3rem;
  margin: .5rem;
}
.secondBtn{
  border: 3px ridge hotpink;
  border-radius: .5rem;
  background-color: midnightblue;
  width: 7rem;
  height: 3rem;
  color: aliceblue;
  margin: .5rem;
}